In [1]:
from dayData import *

localValue=LocalValue()

In [2]:
localValue.getLocal(20)

            stockPrice  rollingBefore
date
1999-01-05     6310.41            NaN
1999-01-06     6280.93            NaN
1999-01-07     6409.55            NaN
1999-01-08     6492.87            NaN
1999-01-11     6492.90            NaN
...                ...            ...
2022-12-08    14634.16            NaN
2022-12-09    14742.79            NaN
2022-12-12    14658.46            NaN
2022-12-13    14658.70            NaN
2022-12-14    14739.36            NaN

[5958 rows x 2 columns]