In [1]:
from dayData import *

localValue=LocalValue()

In [2]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [2]:
localValue.getLocal(20)

            stockPrice
date
1999-07-03     8710.71
1999-09-02     8414.60
1999-11-23     8152.33
2000-02-18    10393.60
2000-04-06    10329.00
...                ...
2021-07-15    18034.19
2021-09-06    17633.67
2022-01-05    18619.61
2022-06-01    16811.04
2022-08-17    15475.89

[89 rows x 1 columns]

In [3]:
localValue.localConcat(20)

            stockPrice localValue
date
1999-02-05     5625.65   localMin
1999-06-01     7397.62   localMin
1999-07-03     8710.71   localMax
1999-08-06     7031.80   localMin
1999-09-02     8414.60   localMax
...                ...        ...
2022-05-13    15860.69   localMin
2022-06-01    16811.04   localMax
2022-07-12    14235.63   localMin
2022-08-17    15475.89   localMax
2022-10-26    12791.97   localMin

[184 rows x 2 columns]

In [4]:
localValue.localPeriod(20)

           stockPrice localValue
1999-02-05    5625.65   localMin
1999-07-03    8710.71   localMax
1999-08-06     7031.8   localMin
1999-09-02     8414.6   localMax
1999-11-08    7411.73   localMin
...               ...        ...
2022-05-13   15860.69   localMin
2022-06-01   16811.04   localMax
2022-07-12   14235.63   localMin
2022-08-17   15475.89   localMax
2022-10-26   12791.97   localMin

[155 rows x 2 columns]