In [1]:
from dayData import *

In [31]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [2]:
dayData=DayData()

In [26]:
priceMax=dayData.price('max')['TAIEX'].dropna()
priceMax

date
1999-01-05     6310.41
1999-01-06     6280.93
1999-01-07     6409.55
1999-01-08     6492.87
1999-01-11     6492.90
                ...
2022-11-30    14879.55
2022-12-01    15152.38
2022-12-02    15021.73
2022-12-05    15088.06
2022-12-06    14957.82
Name: TAIEX, Length: 5952, dtype: float64

In [33]:
n=20

In [34]:
priceMaxRb=priceMax.rolling(n).max()
priceMaxRb

date
1999-01-05         NaN
1999-01-06         NaN
1999-01-07         NaN
1999-01-08         NaN
1999-01-11         NaN
1999-01-12         NaN
1999-01-13         NaN
1999-01-14         NaN
1999-01-15         NaN
1999-01-16         NaN
1999-01-18         NaN
1999-01-19         NaN
1999-01-20         NaN
1999-01-21         NaN
1999-01-22         NaN
1999-01-25         NaN
1999-01-26         NaN
1999-01-27         NaN
1999-01-28         NaN
1999-01-29     6577.92
1999-01-30     6577.92
1999-02-01     6577.92
1999-02-02     6577.92
1999-02-03     6577.92
1999-02-04     6577.92
1999-02-05     6577.92
1999-02-06     6577.92
1999-02-08     6577.92
1999-02-09     6577.92
1999-02-10     6477.44
1999-02-20     6424.54
1999-02-22     6424.54
1999-02-23     6424.54
1999-02-24     6383.04
1999-02-25     6383.04
1999-02-26     6383.04
1999-03-01     6383.04
1999-03-02     6383.04
1999-03-03     6420.91
1999-03-04     6467.51
1999-03-05     6467.51
1999-03-06     6498.05
1999-03-08     6498.05
1999-03-09     6530.74
1999-03-10     6530.74
1999-03-11     6537.35
1999-03-12     6537.35
1999-03-15     6598.32
1999-03-16     6718.99
1999-03-17     6805.03
1999-03-18     6895.01
1999-03-19     7021.96
1999-03-20     7050.28
1999-03-22     7057.97
1999-03-23     7133.03
1999-03-24     7133.03
1999-03-25     7133.03
1999-03-26     7133.03
1999-03-29     7133.03
1999-03-30     7133.03
1999-03-31     7133.03
1999-04-01     7133.03
1999-04-02     7232.51
1999-04-03     7276.29
1999-04-06     7276.29
1999-04-07     7276.29
1999-04-08     7312.90
1999-04-09     7381.64
1999-04-12     7381.64
1999-04-13     7381.64
1999-04-14     7445.37
1999-04-15     7498.17
1999-04-16     7590.92
1999-04-17     7590.92
1999-04-19     7683.94
1999-04-20     7683.94
1999-04-21     7703.76
1999-04-22     7703.76
1999-04-23     7703.76
1999-04-26     7703.76
1999-04-27     7703.76
1999-04-28     7703.76
1999-04-29     7703.76
1999-04-30     7703.76
1999-05-03     7703.76
1999-05-04     7703.76
1999-05-05     7703.76
1999-05-06     7703.76
1999-05-07     7703.76
1999-05-10     7703.76
1999-05-11     7703.76
1999-05-12     7703.76
1999-05-13     7703.76
1999-05-14     7703.76
1999-05-15     7703.76
1999-05-17     7705.63
1999-05-18     7705.63
1999-05-19     7705.63
1999-05-20     7705.63
1999-05-21     7705.63
1999-05-24     7705.63
1999-05-25     7705.63
1999-05-26     7705.63
1999-05-27     7705.63
1999-05-28     7705.63
1999-05-29     7705.63
1999-05-31     7705.63
1999-06-01     7705.63
1999-06-02     7705.63
1999-06-03     7705.63
1999-06-04     7705.63
1999-06-05     7705.63
1999-06-07     7818.09
1999-06-08     7940.38
1999-06-09     7980.11
1999-06-10     8058.18
1999-06-11     8058.18
1999-06-14     8058.18
1999-06-15     8109.28
1999-06-16     8109.28
1999-06-17     8290.25
1999-06-21     8483.95
1999-06-22     8640.11
1999-06-23     8661.39
1999-06-24     8661.39
1999-06-25     8661.39
1999-06-28     8661.39
1999-06-29     8661.39
1999-06-30     8661.39
1999-07-02     8661.39
1999-07-03     8710.71
1999-07-05     8710.71
1999-07-06     8710.71
1999-07-07     8710.71
1999-07-08     8710.71
1999-07-09     8710.71
1999-07-12     8710.71
1999-07-13     8710.71
1999-07-14     8710.71
1999-07-15     8710.71
1999-07-16     8710.71
1999-07-17     8710.71
1999-07-19     8710.71
1999-07-20     8710.71
1999-07-21     8710.71
1999-07-22     8710.71
1999-07-23     8710.71
1999-07-26     8710.71
1999-07-27     8710.71
1999-07-28     8710.71
1999-07-29     8668.15
1999-07-30     8663.92
1999-07-31     8663.06
1999-08-02     8663.06
1999-08-03     8663.06
1999-08-04     8592.05
1999-08-05     8441.14
1999-08-06     8249.16
1999-08-07     8024.19
1999-08-09     8024.19
1999-08-10     7830.76
1999-08-11     7830.76
1999-08-12     7830.76
1999-08-13     7830.76
1999-08-16     8018.47
1999-08-17     8101.41
1999-08-18     8155.74
1999-08-19     8155.74
1999-08-20     8155.74
1999-08-21     8278.30
1999-08-23     8278.30
1999-08-24     8278.30
1999-08-25     8278.30
1999-08-26     8278.30
1999-08-27     8278.30
1999-08-30     8278.30
1999-08-31     8278.30
1999-09-01     8360.84
1999-09-02     8414.60
1999-09-03     8414.60
1999-09-04     8414.60
1999-09-06     8414.60
1999-09-07     8414.60
1999-09-08     8414.60
1999-09-09     8414.60
1999-09-10     8414.60
1999-09-13     8414.60
1999-09-14     8414.60
1999-09-15     8414.60
1999-09-16     8414.60
1999-09-17     8414.60
1999-09-18     8414.60
1999-09-20     8414.60
1999-09-27     8414.60
1999-09-28     8414.60
1999-09-29     8414.60
1999-09-30     8414.60
1999-10-01     8414.60
1999-10-02     8250.73
1999-10-04     8250.73
1999-10-05     8250.73
1999-10-06     8250.73
1999-10-07     8250.73
1999-10-08     8250.73
1999-10-11     8250.73
1999-10-12     8250.73
1999-10-13     8200.53
1999-10-14     8117.97
1999-10-15     8069.70
1999-10-16     8069.70
1999-10-18     8069.70
1999-10-19     8028.42
1999-10-20     7959.52
1999-10-21     7959.52
1999-10-22     7959.52
1999-10-25     7959.52
1999-10-26     7959.52
1999-10-27     7959.52
1999-10-28     7959.52
1999-10-29     7959.52
1999-10-30     7959.52
1999-11-01     7959.52
1999-11-02     7959.52
1999-11-03     7959.52
1999-11-04     7959.52
1999-11-05     7959.52
1999-11-06     7959.52
1999-11-08     7959.52
1999-11-09     7874.26
1999-11-10     7874.26
1999-11-11     7874.26
1999-11-15     7874.26
1999-11-16     7874.26
1999-11-17     7874.26
1999-11-18     7874.26
1999-11-19     7874.26
1999-11-20     7944.49
1999-11-22     8088.53
1999-11-23     8152.33
1999-11-24     8152.33
1999-11-25     8152.33
1999-11-26     8152.33
1999-11-29     8152.33
1999-11-30     8152.33
1999-12-01     8152.33
1999-12-02     8152.33
1999-12-03     8152.33
1999-12-04     8152.33
1999-12-06     8152.33
1999-12-07     8152.33
1999-12-08     8152.33
1999-12-09     8152.33
1999-12-10     8152.33
1999-12-13     8152.33
1999-12-14     8152.33
1999-12-15     8152.33
1999-12-16     8152.33
1999-12-17     8152.33
1999-12-18     8087.49
1999-12-20     8087.49
1999-12-21     8087.49
1999-12-22     8087.49
1999-12-23     8117.73
1999-12-24     8225.39
1999-12-27     8415.07
1999-12-28     8480.50
2000-01-04     8803.61
2000-01-05     8867.68
2000-01-06     9023.99
2000-01-07     9023.99
2000-01-10     9126.02
2000-01-11     9332.52
2000-01-12     9332.52
2000-01-13     9332.52
2000-01-14     9332.52
2000-01-15     9332.52
2000-01-17     9384.52
2000-01-18     9384.52
2000-01-19     9384.52
2000-01-20     9384.52
2000-01-21     9384.52
2000-01-24     9425.87
2000-01-25     9425.87
2000-01-26     9617.32
2000-01-27     9733.26
2000-01-28     9753.72
2000-01-29     9753.72
2000-01-31     9753.72
2000-02-01     9901.80
2000-02-09    10137.20
2000-02-10    10137.20
2000-02-11    10227.30
2000-02-14    10227.30
2000-02-15    10227.30
2000-02-16    10227.30
2000-02-17    10267.50
2000-02-18    10393.60
2000-02-19    10393.60
2000-02-21    10393.60
2000-02-22    10393.60
2000-02-23    10393.60
2000-02-24    10393.60
2000-02-25    10393.60
2000-02-29    10393.60
2000-03-01    10393.60
2000-03-02    10393.60
2000-03-03    10393.60
2000-03-04    10393.60
2000-03-06    10393.60
2000-03-07    10393.60
2000-03-08    10393.60
2000-03-09    10393.60
2000-03-10    10393.60
2000-03-13    10393.60
2000-03-14    10393.60
2000-03-15    10393.60
2000-03-16    10213.00
2000-03-17    10213.00
2000-03-20     9917.13
2000-03-21     9803.81
2000-03-22     9781.31
2000-03-23     9781.27
2000-03-24     9781.27
2000-03-27     9858.57
2000-03-28     9985.15
2000-03-29     9985.15
2000-03-30    10071.30
2000-03-31    10071.30
2000-04-01    10071.30
2000-04-05    10238.10
2000-04-06    10329.00
2000-04-07    10329.00
2000-04-08    10329.00
2000-04-10    10329.00
2000-04-11    10329.00
2000-04-12    10329.00
2000-04-13    10329.00
2000-04-14    10329.00
2000-04-15    10329.00
2000-04-17    10329.00
2000-04-18    10329.00
2000-04-19    10329.00
2000-04-20    10329.00
2000-04-21    10329.00
2000-04-24    10329.00
2000-04-25    10329.00
2000-04-26    10329.00
2000-04-27    10329.00
2000-04-28    10329.00
2000-04-29    10329.00
2000-05-02    10194.90
2000-05-03    10194.90
2000-05-04    10194.90
2000-05-05    10194.90
2000-05-06    10149.30
2000-05-08     9746.99
2000-05-09     9662.12
2000-05-10     9477.67
2000-05-11     9477.67
2000-05-12     9477.67
2000-05-15     9477.67
2000-05-16     9243.04
2000-05-17     9243.04
2000-05-18     9135.13
2000-05-19     9146.59
2000-05-20     9167.78
2000-05-22     9167.78
2000-05-23     9167.78
2000-05-24     9167.78
2000-05-25     9167.78
2000-05-26     9167.78
2000-05-29     9167.78
2000-05-30     9167.78
2000-05-31     9167.78
2000-06-01     9167.78
2000-06-02     9167.78
2000-06-03     9167.78
2000-06-05     9167.78
2000-06-07     9167.78
2000-06-08     9209.48
2000-06-09     9209.48
2000-06-12     9209.48
2000-06-13     9209.48
2000-06-14     9209.48
2000-06-15     9209.48
2000-06-16     9209.48
2000-06-17     9209.48
2000-06-19     9209.48
2000-06-20     9209.48
2000-06-21     9209.48
2000-06-22     9209.48
2000-06-23     9209.48
2000-06-26     9209.48
2000-06-27     9209.48
2000-06-28     9209.48
2000-06-29     9209.48
2000-06-30     9209.48
2000-07-03     9209.48
2000-07-04     9209.48
2000-07-05     9136.75
2000-07-06     9083.85
2000-07-07     9014.27
2000-07-10     9014.27
2000-07-11     8968.99
2000-07-12     8893.59
2000-07-13     8871.90
2000-07-14     8861.03
2000-07-15     8861.03
2000-07-17     8785.53
2000-07-18     8785.53
2000-07-19     8785.53
2000-07-20     8675.47
2000-07-21     8643.21
2000-07-24     8643.21
2000-07-25     8643.21
2000-07-26     8643.21
2000-07-27     8643.21
2000-07-28     8643.21
2000-07-29     8643.21
2000-07-31     8643.21
2000-08-01     8643.21
2000-08-02     8643.21
2000-08-03     8643.21
2000-08-04     8643.21
2000-08-05     8643.21
2000-08-07     8643.21
2000-08-08     8643.21
2000-08-09     8643.21
2000-08-10     8582.75
2000-08-11     8423.59
2000-08-14     8406.05
2000-08-15     8300.68
2000-08-16     8192.73
2000-08-17     8192.73
2000-08-18     8276.24
2000-08-19     8276.24
2000-08-21     8305.67
2000-08-22     8305.67
2000-08-24     8305.67
2000-08-25     8305.67
2000-08-28     8305.67
2000-08-29     8305.67
2000-08-30     8305.67
2000-08-31     8305.67
2000-09-01     8305.67
2000-09-02     8305.67
2000-09-04     8305.67
2000-09-05     8305.67
2000-09-06     8305.67
2000-09-07     8305.67
2000-09-08     8305.67
2000-09-11     8305.67
2000-09-13     8305.67
2000-09-14     8305.67
2000-09-15     8305.67
2000-09-16     8305.67
2000-09-18     8244.42
2000-09-19     8222.08
2000-09-20     8142.47
2000-09-21     7985.45
2000-09-22     7829.34
2000-09-25     7829.34
2000-09-26     7829.34
2000-09-27     7829.34
2000-09-28     7829.34
2000-09-29     7829.34
2000-09-30     7829.34
2000-10-02     7758.45
2000-10-03     7520.17
2000-10-04     7494.67
2000-10-05     7407.78
2000-10-06     7407.78
2000-10-07     7367.27
2000-10-09     7364.46
2000-10-11     7129.02
2000-10-12     7026.27
2000-10-13     6950.04
2000-10-16     6946.84
2000-10-17     6946.84
2000-10-18     6840.38
2000-10-19     6840.38
2000-10-20     6840.38
2000-10-21     6840.38
2000-10-23     6799.62
2000-10-24     6589.82
2000-10-25     6425.69
2000-10-26     6425.69
2000-10-27     6425.69
2000-10-30     6425.69
2000-10-31     6425.69
2000-11-01     6425.69
2000-11-02     6425.69
2000-11-03     6338.52
2000-11-04     6161.16
2000-11-06     6161.16
2000-11-07     6161.16
2000-11-08     6164.62
2000-11-09     6164.62
2000-11-10     6164.62
2000-11-13     6164.62
2000-11-14     6164.62
2000-11-15     6164.62
2000-11-16     6164.62
2000-11-17     6164.62
2000-11-18     6164.62
2000-11-20     6164.62
2000-11-21     6164.62
2000-11-22     6164.62
2000-11-23     6164.62
2000-11-24     6164.62
2000-11-27     6164.62
2000-11-28     6164.62
2000-11-29     6164.62
2000-11-30     6164.62
2000-12-01     6164.62
2000-12-02     6164.62
2000-12-04     6126.09
2000-12-05     6126.09
2000-12-06     5942.06
2000-12-07     5942.06
2000-12-08     5942.06
2000-12-11     5581.93
2000-12-12     5526.13
2000-12-13     5526.13
2000-12-14     5526.13
2000-12-15     5526.13
2000-12-16     5526.13
2000-12-18     5526.13
2000-12-19     5526.13
2000-12-20     5526.13
2000-12-21     5411.00
2000-12-22     5403.14
2000-12-26     5403.14
2000-12-27     5403.14
2000-12-28     5403.14
2000-12-29     5403.14
2000-12-30     5403.14
2001-01-02     5403.14
2001-01-03     5403.14
2001-01-04     5403.14
2001-01-05     5403.14
2001-01-08     5403.14
2001-01-09     5397.29
2001-01-10     5476.90
2001-01-11     5531.20
2001-01-12     5531.20
2001-01-15     5531.20
2001-01-16     5665.98
2001-01-17     5805.26
2001-01-18     5892.53
2001-01-29     5933.68
2001-01-30     5933.68
2001-01-31     5992.43
2001-02-01     5992.43
2001-02-02     6103.10
2001-02-05     6103.10
2001-02-06     6103.10
2001-02-07     6103.10
2001-02-08     6103.10
2001-02-09     6103.10
2001-02-12     6103.10
2001-02-13     6103.10
2001-02-14     6103.10
2001-02-15     6104.24
2001-02-16     6198.22
2001-02-19     6198.22
2001-02-20     6198.22
2001-02-21     6198.22
2001-02-22     6198.22
2001-02-23     6198.22
2001-02-26     6198.22
2001-02-27     6198.22
2001-03-01     6198.22
2001-03-02     6198.22
2001-03-05     6198.22
2001-03-06     6198.22
2001-03-07     6198.22
2001-03-08     6198.22
2001-03-09     6198.22
2001-03-12     6198.22
2001-03-13     6198.22
2001-03-14     6198.22
2001-03-15     6198.22
2001-03-16     6198.22
2001-03-19     6079.62
2001-03-20     6079.62
2001-03-21     5957.78
2001-03-22     5885.67
2001-03-23     5846.39
2001-03-26     5906.17
2001-03-27     5981.31
2001-03-28     5981.31
2001-03-29     5981.31
2001-03-30     5981.31
2001-04-02     5981.31
2001-04-03     5981.31
2001-04-04     5981.31
2001-04-06     5981.31
2001-04-09     5981.31
2001-04-10     5981.31
2001-04-11     5981.31
2001-04-12     5981.31
2001-04-13     5981.31
2001-04-16     5981.31
2001-04-17     5981.31
2001-04-18     5981.31
2001-04-19     5981.31
2001-04-20     5981.31
2001-04-23     5981.31
2001-04-24     5981.31
2001-04-25     5922.81
2001-04-26     5865.48
2001-04-27     5865.48
2001-04-30     5797.85
2001-05-02     5683.63
2001-05-03     5683.63
2001-05-04     5683.63
2001-05-07     5683.63
2001-05-08     5683.63
2001-05-09     5683.63
2001-05-10     5683.63
2001-05-11     5683.63
2001-05-14     5683.63
2001-05-15     5683.63
2001-05-16     5683.63
2001-05-17     5683.63
2001-05-18     5645.11
2001-05-21     5644.68
2001-05-22     5644.68
2001-05-23     5601.35
2001-05-24     5548.67
2001-05-25     5509.32
2001-05-28     5502.53
2001-05-29     5502.53
2001-05-30     5436.53
2001-05-31     5436.53
2001-06-01     5316.79
2001-06-04     5256.79
2001-06-05     5251.39
2001-06-06     5251.39
2001-06-07     5251.39
2001-06-08     5282.82
2001-06-11     5282.82
2001-06-12     5298.69
2001-06-13     5318.71
2001-06-14     5318.71
2001-06-15     5318.71
2001-06-18     5318.71
2001-06-19     5318.71
2001-06-20     5318.71
2001-06-21     5318.71
2001-06-22     5318.71
2001-06-26     5318.71
2001-06-27     5318.71
2001-06-28     5318.71
2001-06-29     5318.71
2001-07-02     5318.71
2001-07-03     5318.71
2001-07-04     5318.71
2001-07-05     5318.71
2001-07-06     5318.71
2001-07-09     5318.71
2001-07-10     5318.71
2001-07-11     5318.71
2001-07-12     5200.50
2001-07-13     5158.63
2001-07-16     5132.60
2001-07-17     5089.57
2001-07-18     5074.09
2001-07-19     5066.17
2001-07-20     4985.38
2001-07-23     4948.44
2001-07-24     4906.82
2001-07-25     4906.82
2001-07-26     4906.82
2001-07-27     4906.82
2001-07-31     4906.82
2001-08-01     4801.26
2001-08-02     4766.27
2001-08-03     4766.27
2001-08-06     4715.33
2001-08-07     4715.33
2001-08-08     4715.33
2001-08-09     4715.33
2001-08-10     4715.33
2001-08-13     4579.16
2001-08-14     4589.60
2001-08-15     4665.37
2001-08-16     4710.14
2001-08-17     4715.20
2001-08-20     4715.20
2001-08-21     4715.20
2001-08-22     4715.20
2001-08-23     4715.20
2001-08-24     4715.20
2001-08-27     4715.20
2001-08-28     4715.20
2001-08-29     4715.20
2001-08-30     4715.20
2001-08-31     4715.20
2001-09-03     4715.20
2001-09-04     4715.20
2001-09-05     4715.20
2001-09-06     4715.20
2001-09-07     4715.20
2001-09-10     4715.20
2001-09-11     4715.20
2001-09-13     4715.20
2001-09-14     4715.20
2001-09-19     4595.75
2001-09-20     4576.33
2001-09-21     4576.33
2001-09-24     4576.33
2001-09-25     4576.33
2001-09-26     4576.33
2001-09-27     4576.33
2001-09-28     4576.33
2001-10-02     4576.33
2001-10-03     4526.27
2001-10-04     4526.27
2001-10-05     4510.58
2001-10-08     4510.58
2001-10-09     4412.42
2001-10-11     4305.74
2001-10-12     4305.74
2001-10-15     4304.57
2001-10-16     3952.49
2001-10-17     3916.93
2001-10-18     3898.36
2001-10-19     3898.36
2001-10-22     3924.30
2001-10-23     3959.14
2001-10-24     3986.67
2001-10-25     4043.21
2001-10-26     4104.21
2001-10-29     4104.21
2001-10-30     4104.21
2001-10-31     4104.21
2001-11-01     4104.21
2001-11-02     4104.21
2001-11-05     4104.21
2001-11-06     4158.20
2001-11-07     4175.45
2001-11-08     4208.51
2001-11-09     4208.51
2001-11-12     4208.51
2001-11-13     4208.51
2001-11-14     4286.52
2001-11-15     4403.59
2001-11-16     4491.50
2001-11-19     4556.54
2001-11-20     4605.68
2001-11-21     4605.68
2001-11-22     4605.68
2001-11-23     4605.68
2001-11-26     4622.33
2001-11-27     4722.18
2001-11-28     4722.18
2001-11-29     4722.18
2001-11-30     4722.18
2001-12-03     4722.18
2001-12-04     4767.92
2001-12-05     4968.64
2001-12-06     5214.77
2001-12-07     5335.01
2001-12-10     5435.48
2001-12-11     5435.48
2001-12-12     5553.89
2001-12-13     5651.98
2001-12-14     5651.98
2001-12-17     5651.98
2001-12-18     5651.98
2001-12-19     5651.98
2001-12-20     5651.98
2001-12-21     5651.98
2001-12-24     5651.98
2001-12-25     5651.98
2001-12-26     5651.98
2001-12-27     5651.98
2001-12-28     5651.98
2001-12-31     5651.98
2002-01-02     5651.98
2002-01-03     5690.29
2002-01-04     5690.29
2002-01-07     5834.89
2002-01-08     5885.60
2002-01-09     5915.42
2002-01-10     5915.42
2002-01-11     5926.99
2002-01-14     5926.99
2002-01-15     5926.99
2002-01-16     5926.99
2002-01-17     5926.99
2002-01-18     5926.99
2002-01-21     5926.99
2002-01-22     5926.99
2002-01-23     5958.39
2002-01-24     5958.39
2002-01-25     5978.57
2002-01-28     6049.12
2002-01-29     6049.12
2002-01-30     6049.12
2002-01-31     6049.12
2002-02-01     6049.12
2002-02-04     6049.12
2002-02-05     6049.12
2002-02-06     6049.12
2002-02-18     6049.12
2002-02-19     6049.12
2002-02-20     6049.12
2002-02-21     6049.12
2002-02-22     6049.12
2002-02-25     6049.12
2002-02-26     6049.12
2002-02-27     6049.12
2002-03-01     6049.12
2002-03-04     6049.12
2002-03-05     6049.12
2002-03-06     6097.57
2002-03-07     6137.01
2002-03-08     6137.01
2002-03-11     6212.28
2002-03-12     6212.28
2002-03-13     6212.28
2002-03-14     6212.28
2002-03-15     6212.28
2002-03-18     6212.28
2002-03-19     6212.28
2002-03-20     6212.28
2002-03-21     6212.28
2002-03-22     6212.28
2002-03-25     6243.51
2002-03-26     6259.81
2002-03-27     6326.43
2002-03-28     6326.43
2002-03-29     6326.43
2002-04-01     6326.43
2002-04-02     6326.43
2002-04-03     6326.43
2002-04-04     6326.43
2002-04-08     6326.43
2002-04-09     6326.43
2002-04-10     6326.43
2002-04-11     6326.43
2002-04-12     6326.43
2002-04-15     6326.43
2002-04-16     6326.43
2002-04-17     6413.76
2002-04-18     6450.30
2002-04-19     6460.87
2002-04-22     6484.93
2002-04-23     6484.93
2002-04-24     6484.93
2002-04-25     6484.93
2002-04-26     6484.93
2002-04-29     6484.93
2002-04-30     6484.93
2002-05-02     6484.93
2002-05-03     6484.93
2002-05-06     6484.93
2002-05-07     6484.93
2002-05-08     6484.93
2002-05-09     6484.93
2002-05-10     6484.93
2002-05-13     6484.93
2002-05-14     6484.93
2002-05-15     6484.93
2002-05-16     6484.93
2002-05-17     6484.93

In [36]:
df=pd.concat({'origin':priceMax,"rollingBefore":priceMaxRb},axis=1)
df['rollingAfter']=np.NaN
df

              origin  rollingBefore  rollingAfter
date
1999-01-05   6310.41            NaN           NaN
1999-01-06   6280.93            NaN           NaN
1999-01-07   6409.55            NaN           NaN
1999-01-08   6492.87            NaN           NaN
1999-01-11   6492.90            NaN           NaN
1999-01-12   6441.79            NaN           NaN
1999-01-13   6365.60            NaN           NaN
1999-01-14   6295.99            NaN           NaN
1999-01-15   6454.60            NaN           NaN
1999-01-16   6577.92            NaN           NaN
1999-01-18   6477.44            NaN           NaN
1999-01-19   6421.78            NaN           NaN
1999-01-20   6360.75            NaN           NaN
1999-01-21   6424.54            NaN           NaN
1999-01-22   6328.31            NaN           NaN
1999-01-25   6161.80            NaN           NaN
1999-01-26   6115.64            NaN           NaN
1999-01-27   6204.46            NaN           NaN
1999-01-28   6145.77            NaN           NaN
1999-01-29   6090.44        6577.92           NaN
1999-01-30   6076.41        6577.92           NaN
1999-02-01   5948.35        6577.92           NaN
1999-02-02   5892.93        6577.92           NaN
1999-02-03   5772.89        6577.92           NaN
1999-02-04   5747.47        6577.92           NaN
1999-02-05   5625.65        6577.92           NaN
1999-02-06   5710.18        6577.92           NaN
1999-02-08   5869.15        6577.92           NaN
1999-02-09   5798.92        6577.92           NaN
1999-02-10   5811.33        6477.44           NaN
1999-02-20   6086.76        6424.54           NaN
1999-02-22   6343.84        6424.54           NaN
1999-02-23   6383.04        6424.54           NaN
1999-02-24   6267.12        6383.04           NaN
1999-02-25   6362.31        6383.04           NaN
1999-02-26   6318.52        6383.04           NaN
1999-03-01   6345.93        6383.04           NaN
1999-03-02   6343.30        6383.04           NaN
1999-03-03   6420.91        6420.91           NaN
1999-03-04   6467.51        6467.51           NaN
1999-03-05   6457.94        6467.51           NaN
1999-03-06   6498.05        6498.05           NaN
1999-03-08   6436.97        6498.05           NaN
1999-03-09   6530.74        6530.74           NaN
1999-03-10   6513.91        6530.74           NaN
1999-03-11   6537.35        6537.35           NaN
1999-03-12   6469.97        6537.35           NaN
1999-03-15   6598.32        6598.32           NaN
1999-03-16   6718.99        6718.99           NaN
1999-03-17   6805.03        6805.03           NaN
1999-03-18   6895.01        6895.01           NaN
1999-03-19   7021.96        7021.96           NaN
1999-03-20   7050.28        7050.28           NaN
1999-03-22   7057.97        7057.97           NaN
1999-03-23   7133.03        7133.03           NaN
1999-03-24   6931.90        7133.03           NaN
1999-03-25   6969.37        7133.03           NaN
1999-03-26   7052.44        7133.03           NaN
1999-03-29   7047.24        7133.03           NaN
1999-03-30   6964.41        7133.03           NaN
1999-03-31   6936.72        7133.03           NaN
1999-04-01   7018.68        7133.03           NaN
1999-04-02   7232.51        7232.51           NaN
1999-04-03   7276.29        7276.29           NaN
1999-04-06   7229.94        7276.29           NaN
1999-04-07   7190.57        7276.29           NaN
1999-04-08   7312.90        7312.90           NaN
1999-04-09   7381.64        7381.64           NaN
1999-04-12   7303.90        7381.64           NaN
1999-04-13   7341.74        7381.64           NaN
1999-04-14   7445.37        7445.37           NaN
1999-04-15   7498.17        7498.17           NaN
1999-04-16   7590.92        7590.92           NaN
1999-04-17   7584.93        7590.92           NaN
1999-04-19   7683.94        7683.94           NaN
1999-04-20   7671.48        7683.94           NaN
1999-04-21   7703.76        7703.76           NaN
1999-04-22   7548.45        7703.76           NaN
1999-04-23   7659.59        7703.76           NaN
1999-04-26   7659.84        7703.76           NaN
1999-04-27   7664.42        7703.76           NaN
1999-04-28   7577.72        7703.76           NaN
1999-04-29   7428.52        7703.76           NaN
1999-04-30   7371.17        7703.76           NaN
1999-05-03   7403.68        7703.76           NaN
1999-05-04   7588.04        7703.76           NaN
1999-05-05   7644.45        7703.76           NaN
1999-05-06   7664.89        7703.76           NaN
1999-05-07   7582.34        7703.76           NaN
1999-05-10   7484.37        7703.76           NaN
1999-05-11   7584.57        7703.76           NaN
1999-05-12   7532.07        7703.76           NaN
1999-05-13   7499.63        7703.76           NaN
1999-05-14   7592.98        7703.76           NaN
1999-05-15   7622.74        7703.76           NaN
1999-05-17   7705.63        7705.63           NaN
1999-05-18   7658.67        7705.63           NaN
1999-05-19   7634.73        7705.63           NaN
1999-05-20   7701.26        7705.63           NaN
1999-05-21   7696.97        7705.63           NaN
1999-05-24   7644.97        7705.63           NaN
1999-05-25   7553.35        7705.63           NaN
1999-05-26   7460.87        7705.63           NaN
1999-05-27   7510.42        7705.63           NaN
1999-05-28   7465.80        7705.63           NaN
1999-05-29   7483.93        7705.63           NaN
1999-05-31   7449.10        7705.63           NaN
1999-06-01   7397.62        7705.63           NaN
1999-06-02   7493.68        7705.63           NaN
1999-06-03   7604.51        7705.63           NaN
1999-06-04   7628.14        7705.63           NaN
1999-06-05   7684.85        7705.63           NaN
1999-06-07   7818.09        7818.09           NaN
1999-06-08   7940.38        7940.38           NaN
1999-06-09   7980.11        7980.11           NaN
1999-06-10   8058.18        8058.18           NaN
1999-06-11   8028.39        8058.18           NaN
1999-06-14   8039.64        8058.18           NaN
1999-06-15   8109.28        8109.28           NaN
1999-06-16   8059.02        8109.28           NaN
1999-06-17   8290.25        8290.25           NaN
1999-06-21   8483.95        8483.95           NaN
1999-06-22   8640.11        8640.11           NaN
1999-06-23   8661.39        8661.39           NaN
1999-06-24   8627.88        8661.39           NaN
1999-06-25   8497.60        8661.39           NaN
1999-06-28   8341.85        8661.39           NaN
1999-06-29   8514.27        8661.39           NaN
1999-06-30   8576.78        8661.39           NaN
1999-07-02   8642.62        8661.39           NaN
1999-07-03   8710.71        8710.71           NaN
1999-07-05   8668.15        8710.71           NaN
1999-07-06   8663.92        8710.71           NaN
1999-07-07   8500.61        8710.71           NaN
1999-07-08   8610.90        8710.71           NaN
1999-07-09   8663.06        8710.71           NaN
1999-07-12   8592.05        8710.71           NaN
1999-07-13   8441.14        8710.71           NaN
1999-07-14   8249.16        8710.71           NaN
1999-07-15   7964.99        8710.71           NaN
1999-07-16   8024.19        8710.71           NaN
1999-07-17   7368.50        8710.71           NaN
1999-07-19   7455.22        8710.71           NaN
1999-07-20   7826.49        8710.71           NaN
1999-07-21   7830.76        8710.71           NaN
1999-07-22   7798.94        8710.71           NaN
1999-07-23   7735.52        8710.71           NaN
1999-07-26   7730.60        8710.71           NaN
1999-07-27   7538.53        8710.71           NaN
1999-07-28   7533.87        8710.71           NaN
1999-07-29   7513.08        8668.15           NaN
1999-07-30   7420.84        8663.92           NaN
1999-07-31   7467.33        8663.06           NaN
1999-08-02   7355.15        8663.06           NaN
1999-08-03   7191.96        8663.06           NaN
1999-08-04   7274.66        8592.05           NaN
1999-08-05   7078.58        8441.14           NaN
1999-08-06   7031.80        8249.16           NaN
1999-08-07   7070.67        8024.19           NaN
1999-08-09   7110.82        8024.19           NaN
1999-08-10   7269.60        7830.76           NaN
1999-08-11   7321.00        7830.76           NaN
1999-08-12   7393.89        7830.76           NaN
1999-08-13   7683.03        7830.76           NaN
1999-08-16   8018.47        8018.47           NaN
1999-08-17   8101.41        8101.41           NaN
1999-08-18   8155.74        8155.74           NaN
1999-08-19   8005.43        8155.74           NaN
1999-08-20   8135.66        8155.74           NaN
1999-08-21   8278.30        8278.30           NaN
1999-08-23   8193.76        8278.30           NaN
1999-08-24   8255.48        8278.30           NaN
1999-08-25   8133.95        8278.30           NaN
1999-08-26   8240.17        8278.30           NaN
1999-08-27   8135.24        8278.30           NaN
1999-08-30   8159.56        8278.30           NaN
1999-08-31   8196.66        8278.30           NaN
1999-09-01   8360.84        8360.84           NaN
1999-09-02   8414.60        8414.60           NaN
1999-09-03   8217.24        8414.60           NaN
1999-09-04   8215.51        8414.60           NaN
1999-09-06   8135.37        8414.60           NaN
1999-09-07   8196.38        8414.60           NaN
1999-09-08   8033.31        8414.60           NaN
1999-09-09   8048.14        8414.60           NaN
1999-09-10   8175.36        8414.60           NaN
1999-09-13   8250.73        8414.60           NaN
1999-09-14   8200.53        8414.60           NaN
1999-09-15   8117.97        8414.60           NaN
1999-09-16   8003.40        8414.60           NaN
1999-09-17   8043.51        8414.60           NaN
1999-09-18   8069.70        8414.60           NaN
1999-09-20   8028.42        8414.60           NaN
1999-09-27   7789.84        8414.60           NaN
1999-09-28   7636.47        8414.60           NaN
1999-09-29   7615.45        8414.60           NaN
1999-09-30   7680.32        8414.60           NaN
1999-10-01   7704.76        8414.60           NaN
1999-10-02   7739.50        8250.73           NaN
1999-10-04   7715.38        8250.73           NaN
1999-10-05   7763.61        8250.73           NaN
1999-10-06   7546.78        8250.73           NaN
1999-10-07   7656.85        8250.73           NaN
1999-10-08   7634.76        8250.73           NaN
1999-10-11   7642.26        8250.73           NaN
1999-10-12   7840.57        8250.73           NaN
1999-10-13   7890.86        8200.53           NaN
1999-10-14   7879.91        8117.97           NaN
1999-10-15   7959.52        8069.70           NaN
1999-10-16   7838.39        8069.70           NaN
1999-10-18   7818.60        8069.70           NaN
1999-10-19   7798.16        8028.42           NaN
1999-10-20   7721.15        7959.52           NaN
1999-10-21   7792.72        7959.52           NaN
1999-10-22   7691.34        7959.52           NaN
1999-10-25   7680.87        7959.52           NaN
1999-10-26   7787.38        7959.52           NaN
1999-10-27   7780.21        7959.52           NaN
1999-10-28   7744.33        7959.52           NaN
1999-10-29   7776.85        7959.52           NaN
1999-10-30   7859.55        7959.52           NaN
1999-11-01   7874.26        7959.52           NaN
1999-11-02   7805.82        7959.52           NaN
1999-11-03   7741.52        7959.52           NaN
1999-11-04   7605.95        7959.52           NaN
1999-11-05   7498.19        7959.52           NaN
1999-11-06   7532.49        7959.52           NaN
1999-11-08   7411.73        7959.52           NaN
1999-11-09   7430.40        7874.26           NaN
1999-11-10   7506.46        7874.26           NaN
1999-11-11   7549.29        7874.26           NaN
1999-11-15   7577.56        7874.26           NaN
1999-11-16   7646.25        7874.26           NaN
1999-11-17   7687.04        7874.26           NaN
1999-11-18   7745.90        7874.26           NaN
1999-11-19   7858.40        7874.26           NaN
1999-11-20   7944.49        7944.49           NaN
1999-11-22   8088.53        8088.53           NaN
1999-11-23   8152.33        8152.33           NaN
1999-11-24   8034.73        8152.33           NaN
1999-11-25   7933.82        8152.33           NaN
1999-11-26   7955.13        8152.33           NaN
1999-11-29   7823.90        8152.33           NaN
1999-11-30   7884.23        8152.33           NaN
1999-12-01   7767.08        8152.33           NaN
1999-12-02   7872.58        8152.33           NaN
1999-12-03   7957.09        8152.33           NaN
1999-12-04   8087.49        8152.33           NaN
1999-12-06   7982.74        8152.33           NaN
1999-12-07   7907.01        8152.33           NaN
1999-12-08   7910.76        8152.33           NaN
1999-12-09   7862.37        8152.33           NaN
1999-12-10   7767.99        8152.33           NaN
1999-12-13   7883.61        8152.33           NaN
1999-12-14   7932.47        8152.33           NaN
1999-12-15   7895.22        8152.33           NaN
1999-12-16   7904.84        8152.33           NaN
1999-12-17   7792.99        8152.33           NaN
1999-12-18   7841.50        8087.49           NaN
1999-12-20   7827.49        8087.49           NaN
1999-12-21   7946.05        8087.49           NaN
1999-12-22   8079.57        8087.49           NaN
1999-12-23   8117.73        8117.73           NaN
1999-12-24   8225.39        8225.39           NaN
1999-12-27   8415.07        8415.07           NaN
1999-12-28   8480.50        8480.50           NaN
2000-01-04   8803.61        8803.61           NaN
2000-01-05   8867.68        8867.68           NaN
2000-01-06   9023.99        9023.99           NaN
2000-01-07   8940.77        9023.99           NaN
2000-01-10   9126.02        9126.02           NaN
2000-01-11   9332.52        9332.52           NaN
2000-01-12   9144.65        9332.52           NaN
2000-01-13   9237.85        9332.52           NaN
2000-01-14   9236.85        9332.52           NaN
2000-01-15   9210.37        9332.52           NaN
2000-01-17   9384.52        9384.52           NaN
2000-01-18   9353.89        9384.52           NaN
2000-01-19   9335.73        9384.52           NaN
2000-01-20   9211.34        9384.52           NaN
2000-01-21   9305.27        9384.52           NaN
2000-01-24   9425.87        9425.87           NaN
2000-01-25   9413.21        9425.87           NaN
2000-01-26   9617.32        9617.32           NaN
2000-01-27   9733.26        9733.26           NaN
2000-01-28   9753.72        9753.72           NaN
2000-01-29   9677.55        9753.72           NaN
2000-01-31   9749.51        9753.72           NaN
2000-02-01   9901.80        9901.80           NaN
2000-02-09  10137.20       10137.20           NaN
2000-02-10  10098.30       10137.20           NaN
2000-02-11  10227.30       10227.30           NaN
2000-02-14  10167.70       10227.30           NaN
2000-02-15  10014.20       10227.30           NaN
2000-02-16  10100.00       10227.30           NaN
2000-02-17  10267.50       10267.50           NaN
2000-02-18  10393.60       10393.60           NaN
2000-02-19  10168.20       10393.60           NaN
2000-02-21  10213.00       10393.60           NaN
2000-02-22   9917.13       10393.60           NaN
2000-02-23   9803.81       10393.60           NaN
2000-02-24   9781.31       10393.60           NaN
2000-02-25   9639.12       10393.60           NaN
2000-02-29   9581.00       10393.60           NaN
2000-03-01   9689.10       10393.60           NaN
2000-03-02   9781.27       10393.60           NaN
2000-03-03   9650.74       10393.60           NaN
2000-03-04   9712.24       10393.60           NaN
2000-03-06   9519.80       10393.60           NaN
2000-03-07   9440.32       10393.60           NaN
2000-03-08   9482.18       10393.60           NaN
2000-03-09   9587.27       10393.60           NaN
2000-03-10   9712.39       10393.60           NaN
2000-03-13   9279.90       10393.60           NaN
2000-03-14   8871.83       10393.60           NaN
2000-03-15   8905.82       10393.60           NaN
2000-03-16   8714.06       10213.00           NaN
2000-03-17   8799.09       10213.00           NaN
2000-03-20   8536.05        9917.13           NaN
2000-03-21   9021.89        9803.81           NaN
2000-03-22   9201.15        9781.31           NaN
2000-03-23   9567.89        9781.27           NaN
2000-03-24   9571.28        9781.27           NaN
2000-03-27   9858.57        9858.57           NaN
2000-03-28   9985.15        9985.15           NaN
2000-03-29   9914.14        9985.15           NaN
2000-03-30  10071.30       10071.30           NaN
2000-03-31  10012.00       10071.30           NaN
2000-04-01  10050.40       10071.30           NaN
2000-04-05  10238.10       10238.10           NaN
2000-04-06  10329.00       10329.00           NaN
2000-04-07  10128.30       10329.00           NaN
2000-04-08  10061.00       10329.00           NaN
2000-04-10  10168.70       10329.00           NaN
2000-04-11  10194.90       10329.00           NaN
2000-04-12  10149.30       10329.00           NaN
2000-04-13   9746.99       10329.00           NaN
2000-04-14   9662.12       10329.00           NaN
2000-04-15   9086.36       10329.00           NaN
2000-04-17   9013.14       10329.00           NaN
2000-04-18   9389.35       10329.00           NaN
2000-04-19   9477.67       10329.00           NaN
2000-04-20   9175.75       10329.00           NaN
2000-04-21   9243.04       10329.00           NaN
2000-04-24   9128.95       10329.00           NaN
2000-04-25   8923.27       10329.00           NaN
2000-04-26   9022.77       10329.00           NaN
2000-04-27   8633.39       10329.00           NaN
2000-04-28   8860.50       10329.00           NaN
2000-04-29   8906.67       10329.00           NaN
2000-05-02   8838.78       10194.90           NaN
2000-05-03   8587.00       10194.90           NaN
2000-05-04   8655.20       10194.90           NaN
2000-05-05   8699.02       10194.90           NaN
2000-05-06   8774.25       10149.30           NaN
2000-05-08   8742.69        9746.99           NaN
2000-05-09   8660.77        9662.12           NaN
2000-05-10   8749.62        9477.67           NaN
2000-05-11   8440.78        9477.67           NaN
2000-05-12   8603.87        9477.67           NaN
2000-05-15   8639.94        9477.67           NaN
2000-05-16   8733.46        9243.04           NaN
2000-05-17   9131.86        9243.04           NaN
2000-05-18   9135.13        9135.13           NaN
2000-05-19   9146.59        9146.59           NaN
2000-05-20   9167.78        9167.78           NaN
2000-05-22   8967.36        9167.78           NaN
2000-05-23   8820.73        9167.78           NaN
2000-05-24   8623.12        9167.78           NaN
2000-05-25   8643.66        9167.78           NaN
2000-05-26   8578.32        9167.78           NaN
2000-05-29   8701.61        9167.78           NaN
2000-05-30   8764.42        9167.78           NaN
2000-05-31   8969.65        9167.78           NaN
2000-06-01   8961.54        9167.78           NaN
2000-06-02   9026.86        9167.78           NaN
2000-06-03   9059.88        9167.78           NaN
2000-06-05   8975.99        9167.78           NaN
2000-06-07   9116.24        9167.78           NaN
2000-06-08   9209.48        9209.48           NaN
2000-06-09   9136.75        9209.48           NaN
2000-06-12   9083.85        9209.48           NaN
2000-06-13   8984.13        9209.48           NaN
2000-06-14   9014.27        9209.48           NaN
2000-06-15   8968.99        9209.48           NaN
2000-06-16   8893.59        9209.48           NaN
2000-06-17   8871.90        9209.48           NaN
2000-06-19   8799.68        9209.48           NaN
2000-06-20   8861.03        9209.48           NaN
2000-06-21   8742.23        9209.48           NaN
2000-06-22   8771.77        9209.48           NaN
2000-06-23   8785.53        9209.48           NaN
2000-06-26   8675.47        9209.48           NaN
2000-06-27   8587.40        9209.48           NaN
2000-06-28   8476.89        9209.48           NaN
2000-06-29   8440.84        9209.48           NaN
2000-06-30   8290.63        9209.48           NaN
2000-07-03   8368.56        9209.48           NaN

In [39]:
df['rollingAfter']=df['rollingBefore'].shift(-n+1,axis=0)

In [41]:
df['localMax']=df['rollingBefore']==df['rollingAfter']

In [45]:
df[df['localMax']==True][-10:-1]

              origin  rollingBefore  rollingAfter  localMax
date
2020-01-03  12197.64       12197.64      12197.64      True
2020-07-28  13031.70       13031.70      13031.70      True
2020-09-16  13021.68       13021.68      13021.68      True
2021-02-22  16579.17       16579.17      16579.17      True
2021-04-29  17709.23       17709.23      17709.23      True
2021-07-15  18034.19       18034.19      18034.19      True
2021-09-06  17633.67       17633.67      17633.67      True
2022-01-05  18619.61       18619.61      18619.61      True
2022-06-01  16811.04       16811.04      16811.04      True