In [1]:
from dayData import *

localValue=LocalValue()

In [2]:
localValue.price

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover,dateStamp
0,2006-01-02,1101,8466614,191989433,23.00,23.00,22.20,23.00,-0.45,1306,1136131200
1,2006-01-03,1101,19915853,461730748,23.00,23.70,22.75,23.60,0.60,1837,1136217600
2,2006-01-04,1101,12679828,299492831,23.65,23.80,23.50,23.50,-0.10,1378,1136304000
3,2006-01-05,1101,17302122,407561958,23.60,23.85,23.50,23.65,0.15,1153,1136390400
4,2006-01-06,1101,20726297,490972820,23.65,23.80,23.50,23.70,0.05,1724,1136476800
...,...,...,...,...,...,...,...,...,...,...,...
6141661,2005-12-26,TAIEX,4510050132,111657645772,6565.67,6573.97,6530.76,6534.77,22.14,829535,1135526400
6141662,2005-12-27,TAIEX,4798191272,114398897636,6539.29,6570.42,6505.46,6531.59,-3.18,867351,1135612800
6141663,2005-12-28,TAIEX,3923322562,103510970772,6492.80,6530.02,6479.34,6524.40,-7.19,739811,1135699200
6141664,2005-12-29,TAIEX,5424306969,154200851872,6549.72,6600.12,6546.75,6575.53,51.13,950257,1135785600
6141665,2005-12-30,TAIEX,5528442461,140063866410,6589.84,6600.17,6548.34,6548.34,-27.19,868806,1135872000