In [1]:
from dayData import *

In [2]:
dayData=DayData()

In [5]:
priceMax=dayData.price('max')['TAIEX'].dropna()
priceMax

date
1999-01-05     6310.41
1999-01-06     6280.93
1999-01-07     6409.55
1999-01-08     6492.87
1999-01-11     6492.90
                ...
2022-11-30    14879.55
2022-12-01    15152.38
2022-12-02    15021.73
2022-12-05    15088.06
2022-12-06    14957.82
Name: TAIEX, Length: 5952, dtype: float64

In [7]:
n=2

In [9]:
priceMax2=priceMax[n:]
priceMax2

date
1999-01-07     6409.55
1999-01-08     6492.87
1999-01-11     6492.90
1999-01-12     6441.79
1999-01-13     6365.60
                ...
2022-11-30    14879.55
2022-12-01    15152.38
2022-12-02    15021.73
2022-12-05    15088.06
2022-12-06    14957.82
Name: TAIEX, Length: 5950, dtype: float64

In [11]:
priceMax.rolling(n).max()

date
1999-01-05         NaN
1999-01-06     6310.41
1999-01-07     6409.55
1999-01-08     6492.87
1999-01-11     6492.90
                ...
2022-11-30    14879.55
2022-12-01    15152.38
2022-12-02    15152.38
2022-12-05    15088.06
2022-12-06    15088.06
Name: TAIEX, Length: 5952, dtype: float64

In [12]:
priceMax2.rolling(n).max()

date
1999-01-07         NaN
1999-01-08     6492.87
1999-01-11     6492.90
1999-01-12     6492.90
1999-01-13     6441.79
                ...
2022-11-30    14879.55
2022-12-01    15152.38
2022-12-02    15152.38
2022-12-05    15088.06
2022-12-06    15088.06
Name: TAIEX, Length: 5950, dtype: float64

In [16]:
closePrice['1101'].rolling(2).max()

date
1992-01-04      NaN
1992-01-06    70.50
1992-01-07    70.50
1992-01-08    71.00
1992-01-09    71.00
              ...
2022-11-30    33.90
2022-12-01    34.05
2022-12-02    34.05
2022-12-05    33.70
2022-12-06    33.70
Name: 1101, Length: 7936, dtype: float64