In [1]:
from dayData import *

rs=RelativeStrong()

In [2]:
priceIncrease=rs.priceIncrease("2022-12-14","2022-12-15")

In [3]:
increaseRank=rs.increaseRank(priceIncrease)

In [4]:
increaseRank

          increase%  increaseRank
stock_id
3669          -6.52           0.0
1795          -5.49           0.0
4106          -5.45           0.0
8067          -5.33           0.0
2454          -5.15           0.0
...             ...           ...
2745           9.97         100.0
8222           9.97         100.0
1512           9.98         100.0
3686          10.00         100.0
2444          10.00         100.0

[1742 rows x 2 columns]