In [1]:
from monthData import *

monthData=MonthData()
dataTrans=DataTrans()

In [2]:
revenue=monthData.revenue

In [4]:
dataTrans.nPeriodIncrease(12,revenue,3)

stock_id,1101,1102,1103,1104,1107,1108,1109,1110,1201,1203,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2006-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-01,1.0,12.0,-6.0,18.0,NaN,-0.0,12.0,-40.0,3.0,7.0,...,3.0,10.0,114.0,23.0,221.0,-13.0,-16.0,-30.0,12.0,20.0
2022-09-01,16.0,10.0,3.0,32.0,NaN,19.0,3.0,-20.0,4.0,4.0,...,4.0,2.0,136.0,22.0,140.0,3.0,-14.0,-34.0,6.0,38.0
2022-10-01,16.0,2.0,1.0,23.0,NaN,28.0,14.0,15.0,4.0,3.0,...,8.0,-8.0,43.0,26.0,114.0,17.0,-15.0,-29.0,-6.0,30.0
2022-11-01,15.0,-11.0,7.0,21.0,NaN,43.0,1.0,33.0,2.0,8.0,...,4.0,-3.0,12.0,16.0,50.0,29.0,-24.0,-16.0,4.0,24.0
2022-12-01,9.0,-13.0,7.0,11.0,NaN,39.0,1.0,22.0,-0.0,20.0,...,2.0,31.0,-37.0,3.0,67.0,27.0,-25.0,-8.0,7.0,1.0