In [1]:
from seasonData import *

sd=StatementData()

In [5]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [2]:
epsData=sd.typeData("EPS")
epsSeries=sd.latestSum(epsData)

In [3]:
incomeAfterTax=sd.typeData('IncomeAfterTax')
nYearIncrease=sd.nYearIncrease(5,incomeAfterTax)

In [4]:
priceEstimateTable=sd.priceEstimateTable(epsSeries,nYearIncrease)
priceEstimateTable

          EPS4season    growth  estimatePrice
stock_id
000116          2.09  0.172926      49.453611
000538          1.15  0.610073     119.265984
000616          0.71  0.608582      73.308684
000700          0.93  0.419826      53.145090
000779          1.46  0.322790      59.942282
...              ...       ...            ...
9945            5.51  0.169739     128.785037
9946            0.52 -0.068850       4.502920
9951            4.85 -0.122594      32.910839
9958            2.99  0.626404     325.415618
9962            2.41  0.254735      77.532150

[1114 rows x 3 columns]

In [6]:
priceEstimateTable['EPS4season'][0]

2.09

In [6]:
from priceModel import *

dm=DiscountModel()

In [7]:
priceEstimateDifferTable=dm.priceEstimateDifferTable(priceEstimateTable)

In [10]:
priceEstimateDifferTable.sort_values(by='priceHigher')

EPS4season        34.21
growth            20.90
estimatePrice    927.00
price            466.50
priceHigher      -50.00
Name: 2330, dtype: float64