In [1]:
from statement import *

In [2]:
info=Info()

In [6]:
tempdf=info.nYearDataFromSql('2022-11-08',2)

In [7]:
tempdf

[['2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30'],
 ['2020-09-30', '2020-12-31', '2021-03-31', '2021-06-30']]

In [6]:
tempdf[tempdf['stock_id']=='1101']

,index,date,stock_id,type,value,origin_name
329,329,2021-06-30,1101,OperatingExpenses,1.565027e+09,營業費用
330,330,2021-06-30,1101,TAX,2.054650e+09,所得稅費用（利益）
331,331,2021-06-30,1101,IncomeLossFromDiscontinuedOperation,5.288820e+08,停業單位損益
332,332,2021-06-30,1101,EPS,1.250000e+00,基本每股盈餘（元）
333,333,2021-06-30,1101,PreTaxIncome,9.798708e+09,稅前淨利（淨損）
...,...,...,...,...,...,...
150,150,2021-03-31,1101,TotalNonoperatingIncomeAndExpense,6.474970e+08,營業外收入及支出
151,151,2021-03-31,1101,OtherComprehensiveIncome,-6.930240e+08,其他綜合損益（淨額）
152,152,2021-03-31,1101,EquityAttributableToOwnersOfParent,2.621147e+09,綜合損益總額歸屬於母公司業主
153,153,2021-03-31,1101,NoncontrollingInterests,4.160660e+08,綜合損益總額歸屬於非控制權益
154,154,2021-03-31,1101,GrossProfit,5.524840e+09,營業毛利（毛損）

In [5]:
for i in range(len(tempdf)):
    for j in range(4):
        print(tempdf[i][j])

2021-06-30
2021-09-30
2021-12-31
2022-03-31
2020-06-30
2020-09-30
2020-12-31
2021-03-31