In [1]:
from statement import *

In [2]:
st=StatementManage('2022-11-08',25)

In [4]:
st.getType('EPS')['2330']

date
1997-09-30    1.13
1997-12-31    1.65
1998-03-31    1.70
1998-06-30    0.07
1998-09-30    0.35
              ...
2021-06-30    5.18
2021-09-30    6.02
2021-12-31    6.42
2022-03-31    7.82
2022-06-30    9.14
Name: 2330, Length: 100, dtype: float64

In [2]:
info=Info()

In [22]:
test1=info.getType('2022-11-08',25,"EPS")

In [23]:
test1.columns

Index(['000017', '000018', '000019', '000020', '000022', '000024', '000025',
       '000026', '000027', '000055',
       ...
       'A00020', 'A00025', 'A00026', 'A00036', 'A00037', 'A00041', 'A00043',
       'A00047', 'A00048', 'B00295'],
      dtype='object', name='stock_id', length=2592)

In [24]:
test1

stock_id,000017,000018,000019,000020,000022,000024,000025,000026,000027,000055,...,A00020,A00025,A00026,A00036,A00037,A00041,A00043,A00047,A00048,B00295
date,,,,,,,,,,,,,,,,,,,,,
1997-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
rollingSum=test1['2454'].rolling(4).sum()

In [26]:
increase=(rollingSum/rollingSum.shift()-1)*100

In [27]:
summaryData=pd.DataFrame({'increase':increase[increase.notnull()],'index':0})

In [28]:
for i in range(len(summaryData)):
    summaryData['index'].iloc[i]=summaryData['increase'].iloc[i]>0

C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [34]:
summaryData.groupby(by=['index'])['increase'].count()

index
False    38
True     45
Name: increase, dtype: int64

In [36]:
summaryData.groupby(by=['index'])['increase'].mean()

index
False   -10.747395
True     13.398635
Name: increase, dtype: float64

In [37]:
summaryData

             increase  index
date
2001-12-31 -24.277044  False
2002-03-31  33.191891   True
2002-06-30   6.973451   True
2002-09-30 -10.125745  False
2002-12-31  -1.362297  False
...               ...    ...
2021-06-30  33.333333   True
2021-09-30  18.448678   True
2021-12-31  15.805022   True
2022-03-31   6.816893   True
2022-06-30   6.554332   True

[83 rows x 2 columns]

In [52]:
tempPeriod=1
periodSummary={'increasePeriod':[],'decreasePeriod':[]}
for i in range(1,len(summaryData)):
    if summaryData['index'][i]==summaryData['index'][i-1]:
        tempPeriod=tempPeriod+1
    else:
        if summaryData['index'][i]==True:
            periodSummary["decreasePeriod"].append(tempPeriod)
            print(-1*tempPeriod)
        else:
            print(tempPeriod)
            periodSummary["increasePeriod"].append(tempPeriod)
        tempPeriod=1
if summaryData['index'][-1]==True:
    periodSummary['increasePeriod'].append(tempPeriod)
else:
    periodSummary['decreasePeriod'].append(tempPeriod)
print(tempPeriod)
print(periodSummary)

-1
2
-4
1
-3
1
-2
4
-2
4
-5
5
-9
10
-5
1
-1
2
-2
1
-1
2
-1
1
-2
11
{'increasePeriod': [2, 1, 1, 4, 4, 5, 10, 1, 2, 1, 2, 1, 11], 'decreasePeriod': [1, 4, 3, 2, 2, 5, 9, 5, 1, 2, 1, 1, 2]}

In [41]:
for i in range(1,3):
    print(i)

1
2