In [1]:
from monthData import *

md=MonthData()
dt=DataTrans()

In [2]:
# pd.set_option('display.max_columns',None)
# pd.set_option('display.max_rows',None)

In [3]:
revenueData=md.revenueData()

In [5]:
seasonYOY=dt.nPeriodIncrease(md.yearMonth,revenueData,md.seasonMonth)
seasonYOY

stock_id,1101,1102,1103,1104,1107,1108,1109,1110,1201,1203,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2005-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-04-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-10,1.0,12.0,-6.0,18.0,NaN,-0.0,12.0,-40.0,3.0,7.0,...,3.0,10.0,114.0,23.0,221.0,-13.0,-16.0,-30.0,12.0,20.0
2022-08-10,16.0,10.0,3.0,32.0,NaN,19.0,3.0,-20.0,4.0,4.0,...,4.0,2.0,136.0,22.0,140.0,3.0,-14.0,-34.0,6.0,38.0
2022-09-10,16.0,2.0,1.0,23.0,NaN,28.0,14.0,15.0,4.0,3.0,...,8.0,-8.0,43.0,26.0,114.0,17.0,-15.0,-29.0,-6.0,30.0
2022-10-10,15.0,-11.0,7.0,21.0,NaN,43.0,1.0,33.0,2.0,8.0,...,4.0,-3.0,12.0,16.0,50.0,29.0,-24.0,-16.0,4.0,24.0
2022-11-10,9.0,-13.0,7.0,11.0,NaN,39.0,1.0,22.0,-0.0,20.0,...,2.0,31.0,-37.0,3.0,67.0,27.0,-25.0,-8.0,7.0,1.0

In [7]:
monthYOY=dt.nPeriodIncrease(md.yearMonth,revenueData)
monthYOY

stock_id,1101,1102,1103,1104,1107,1108,1109,1110,1201,1203,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2005-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-04-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-10,21.0,21.0,-7.0,18.0,NaN,5.0,13.0,-16.0,6.0,4.0,...,12.0,-3.0,10.0,22.0,189.0,-9.0,-4.0,-40.0,-30.0,29.0
2022-08-10,19.0,-2.0,10.0,40.0,NaN,56.0,-19.0,62.0,5.0,1.0,...,1.0,-35.0,153.0,17.0,66.0,38.0,-25.0,-29.0,-1.0,73.0
2022-09-10,8.0,-11.0,2.0,13.0,NaN,28.0,68.0,12.0,1.0,4.0,...,11.0,33.0,-15.0,39.0,125.0,24.0,-15.0,-17.0,12.0,0.0
2022-10-10,19.0,-20.0,8.0,14.0,NaN,45.0,-20.0,30.0,1.0,21.0,...,1.0,18.0,-67.0,5.0,-16.0,25.0,-29.0,1.0,1.0,13.0
2022-11-10,-1.0,-8.0,12.0,7.0,NaN,43.0,-14.0,23.0,-2.0,38.0,...,-4.0,41.0,-6.0,-18.0,129.0,32.0,-28.0,-6.0,6.0,-8.0

In [16]:
(monthYOY>seasonYOY)['1101']

date
2005-12-10    False
2006-01-10    False
2006-02-10    False
2006-03-10    False
2006-04-10    False
              ...
2022-07-10     True
2022-08-10     True
2022-09-10    False
2022-10-10     True
2022-11-10    False
Name: 1101, Length: 204, dtype: bool